<!DOCTYPE html>
<html>
  <head>
    <title>Html-Qrcode Demo</title>
    <link rel="stylesheet" href="/static/index.css" type="text/css"/>
    <script type = "text/javascript" src="/static/generator.js"></script>
  <body>
    <div style="text-align:center">
      <textarea style="font-size: 3em;" id="filler" placeholder="Fill" rows="4" cols="40"></textarea>
      <br>
      <input type="text" style="font-size: 3em;text-transform: capitalize" id="surname" placeholder="Фамилия">
      <br>
      <input type="text" style="font-size: 3em;text-transform: capitalize" id="name" placeholder="Имя">
      <br>
      <input type="text" style="font-size: 3em; text-transform: capitalize" id="patronymic" placeholder="Отчество">
      <br>
      <input type="text" style="font-size: 3em;" id="phone" placeholder="Телефон">
      <br>
      <input type="text" style="font-size: 3em;" id="email" placeholder="Почта">
      <br>
      <button type="button"  class="pass" onclick="fill()">Заполнить</button>
      <br>
      <button type="button"  class="pass" onclick="pass()">Сгенерировать билет</button>
      <br>
      <a id="clipboard_status"></a>
      <img id="ticket" src="" style="max-width: 100%;"/>
    </div>
    
    <script>
       
   </script>
  </body>
  
  </head>
</html>