<!DOCTYPE html>
<html>
  <head>
    <title>Html-Qrcode Demo</title>
    <link rel="stylesheet" href="/static/index.css" type="text/css"/>
  <body>
    <div style="text-align:center">
      <input type="text" size="32" style="font-size: 3em;" id="name" placeholder="ФИО">
      <br>
      <input type="text" style="font-size: 3em;" id="people_amount" placeholder="Количество гостей">
      <br>
      <button type="button"  class="pass" onclick="pass()">Сгенерировать билет</button>
      <br>
      <img id="ticket" src=""/>
    </div>
    
    <script>
        async function pass(){
            var name=document.getElementById('name').value
            var people_amount=document.getElementById('people_amount').value
            console.log(name)
            formdata = new FormData;
            formdata.append("name",name);
            formdata.append("people_amount", people_amount);
            const response = await fetch("http://127.0.0.1:5000/api/generate",{
              method: 'POST',
              body: formdata
            });
            const blob = await response.blob()
            console.log(blob)
            await navigator.clipboard.write([new ClipboardItem({'image/png':blob})])
            var img_url=URL.createObjectURL(blob)
            document.getElementById('ticket').src=img_url
        }
        
        
   </script>
  </body>
  
  </head>
</html>