<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Html-Qrcode Demo</title>
    <script src="/static/html5-qrcode.min.js" type="text/javascript"></script>
    <script src="/static/constants.js" type="text/javascript"></script>
    <script src="/static/scaner.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/index.css" type="text/css"/>
    <!-- <script type = "text/javascript" src="/static/validator.js"></script> -->
    <meta name="viewport" content="user-scalable=no">
  <body>
    <div id="reader" height="300px" ></div>
    <div id="manual_input" style="text-align:center;">
        <br>
        <div style="text-align:center;">
            <input type="text" style="font-size: 3em;text-transform: capitalize;" id="manual_ticket_id" placeholder="ID билета">
        </div>
        <br>
        <div style="text-align:center;">
            <button type="button"  class="pass" onclick="manual_validation()">Ввод</button>
        </div>
    </div>
    <div id="valid" style="display:none; text-align:center;">
        <div class="info_textfield">
            <a id="ticket_id"></a>
            <br>
            <a id="client_name"></a>
            <p style="display:none;">Могут пройти: <a id="people_amount"></a></p>
        </div>
        <div style="text-align:center;display:none;">
            <button type="button" class="decrement_button" onclick="decrement()">-</button>
            <a id="people_to_pass" class="people_to_pass">1</a>
            <button type="button" class="increment_button" onclick="increment()">+</button>
        </div>
        <br>
        <div style="text-align:center">
            <button type="button" class="pass" onclick="pass()">Пропустить</button>
        </div>
        <br>
        <div style="text-align:center">
            <button type="button" class="scan_again" onclick="resume()">Сканировать</button>
        </div>
    </div>
    <div id="validated" style="display:none">
        <div style="text-align:center">
            <div class="info_textfield">
                <a id="validated_ticket_id"></a>
                <br>
                <a id="valideted_client_name"></a>
            </div>            
            <p class="validated_textfield">Билет израсходован</p>
            <button type="button" class="scan_again" onclick="resume()">Сканировать</button>
        </div>
    </div>
    <div id="invalid" style="display:none;">
        <div style="text-align:center" >
            <a id="invalid_ticket_id" class="info_textfield"></a>
            <p class="invalid_textfield">Билета не существует</p>
            <button type="button" class="scan_again" onclick="resume()">Сканировать</button>
        </div>
    </div>
  </body>
  <script>
function decrement(){
    var asd=parseInt(document.getElementById("people_to_pass").innerHTML,10);
    if (asd>1)
        asd-=1;
    document.getElementById("people_to_pass").innerHTML = asd;
}
function increment(){
    var asd=parseInt(document.getElementById("people_to_pass").innerHTML,10);
    var people_amount=parseInt(document.getElementById("people_amount").innerHTML,10);
    if (asd<people_amount)
        asd+=1;
    document.getElementById("people_to_pass").innerHTML = asd;
}

function resume(){
    document.getElementById("valid").style.display = "none";
    document.getElementById("validated").style.display = "none";
    document.getElementById("invalid").style.display = "none";
    document.getElementById("people_to_pass").innerHTML = 1;
    document.getElementById("manual_input").style.display = "initial";
    html5QrCode.resume();
}
async function httpGet(theUrl,ticket_id) {
    // var xmlHttp = new XMLHttpRequest();
    // xmlHttp.open( "GET", theUrl, true ); // false for synchronous request
    // xmlHttp.send();
    // console.log("lol");
    let response = await fetch(theUrl);
    let result = await response.json();
    return result;
    // console.log(result);
    // document.getElementById("ticket_id").innerHTML = ticket_id;
    //return xmlHttp.responseText;
}
async function manual_validation(){
    let decodedText=document.getElementById('manual_ticket_id').value
    var result = await validate(decodedText);
    console.log(result);
    html5QrCode.pause(true);
    document.getElementById("manual_input").style.display = "none";
    if (Object.keys(result).length!=0){
        if (result["people_amount"]<=0){
            document.getElementById("validated").style.display = "initial";
            document.getElementById("validated_ticket_id").innerHTML = decodedText;
            document.getElementById("valideted_client_name").innerHTML = result["surname"]+' '+result["name"]+' '+result["patronymic"];
        }
        else {
            document.getElementById("valid").style.display = "initial";
            // document.getElementById("valid").style.backgroundColor = "#00cc00";
            // document.getElementById("valid").style.background="#00cc00";
            document.getElementById("ticket_id").innerHTML = decodedText;
            document.getElementById("people_amount").innerHTML = result["people_amount"];
            document.getElementById("client_name").innerHTML = result["surname"]+' '+result["name"]+' '+result["patronymic"];
        }
    }
    else{
        document.getElementById("invalid").style.display = "initial";
        document.getElementById("invalid_ticket_id").innerHTML = decodedText;
    }
}
async function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    var result = await httpGet(`/api/validate?key=${decodedText}`,decodedText);
    html5QrCode.pause(true);
    document.getElementById("manual_input").style.display = "none";
    if (Object.keys(result).length!=0){
        if (result["people_amount"]<=0){
            document.getElementById("validated").style.display = "initial";
            document.getElementById("validated_ticket_id").innerHTML = decodedText;
            document.getElementById("valideted_client_name").innerHTML = result["surname"]+' '+result["name"]+' '+result["patronymic"];
        }
        else {
            document.getElementById("valid").style.display = "initial";
            // document.getElementById("valid").style.backgroundColor = "#00cc00";
            // document.getElementById("valid").style.background="#00cc00";
            document.getElementById("ticket_id").innerHTML = decodedText;
            document.getElementById("people_amount").innerHTML = result["people_amount"];
            document.getElementById("client_name").innerHTML = result["surname"]+' '+result["name"]+' '+result["patronymic"];
        }
    }
    else{
        document.getElementById("invalid").style.display = "initial";
        document.getElementById("invalid_ticket_id").innerHTML = decodedText;
    }

}

function onScanFailure(error) {
// handle scan failure, usually better to ignore and keep scanning.
// for example:
console.warn(`Code scan error = ${error}`);
}

const html5QrCode = new Html5Qrcode("reader");
const qrCodeSuccessCallback = (decodedText, decodedResult) => {
    onScanSuccess(decodedText, decodedResult)
};
let height = screen.height*0.4;
const config = { fps: 10, qrbox: { width: 550, height: 550 }, aspectRatio:1.0 };
// let html5QrcodeScanner = new Html5QrcodeScanner(
//   "reader",
//   { fps: 10, qrbox: {width: 250, height: 250} },
//   /* verbose= */ false);
html5QrCode.start({ facingMode: "environment" }, config, qrCodeSuccessCallback);
//   html5QrcodeScanner.render(onScanSuccess, onScanFailure);

</script>
  </head>
</html>
